.auth__form {
    display: block;
    margin: auto;
    /* max-width: 430px; */
    /* padding: 34px 36px; */
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    /* background-position: 50%; */
    /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.15); */
    width: 100%;
}

@media screen and (max-width: 767px) {
    .auth__form {
        max-width: 282px;
        padding: 25px 22px;
    }
}