.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 36px;
}

@media (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}