.auth__input {
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    min-height: 28px;
    width: 100%;
    max-width: 360px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #CCCCCC;
    background-color: transparent;
}