@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__changing-avatar/profile__changing-avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-container/profile__edit-container.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__name-wrapper/profile__name-wrapper.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__likes-counter/element__likes-counter.css);
@import url(./blocks/element/__pic/element__pic.css);
@import url(./blocks/element/__trash-button/element__trash-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__head/popup__head.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_disabled/popup__submit_disabled.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup-pic/__content/popup-pic__content.css);
@import url(./blocks/popup-pic/__photo/popup-pic__photo.css);
@import url(./blocks/popup-pic/__alt/popup-pic__alt.css);