.popup__submit {
  height: 50px;
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: .8;
}

@media (max-width: 767px) {
  .popup__submit {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
