.popup {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s linear, visibility .3s linear;
}
